<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="React app" />
        <title>Full Stack Challenge</title>
    </head>
    <body>
        <noscript
            >Sorry, your browser is not supported. Please upgrade to the latest
            version or switch your browser to use this site. See
            <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a> for
            options.</noscript
        >
        <div id="root"></div>
    </body>
</html>
